.logo {
  height: 2.2rem;
  width: 8rem;
}

:root {
  --header-height: 8vh;
}

.headerHeight {
  height: var(--header-height);
}

.setBackground {
  background-color: #EEF8F6;
  height: calc(97.8vh - var(--header-height));
  margin-top: var(--header-height);
}

.loaderHeading {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.loaderSubheading {
  font-size: 0.85rem;
  font-weight: 400;
  color: black;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: white;
  color: #6c757d;
  font-weight: bold;
  font-size: 0.88rem;
}

.circle.completed {
  background-color: #004b73;
  color: white;
  border-color: #004b73;
}

.step-label {
  font-size: 0.75rem;
  color: #6c757d;
}

.step-label.active-label {
  color: #004b73;
  font-weight: bold;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #ccc;
  margin-bottom: 1rem;
}

.line.active {
  background-color: #004b73;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1300px) {
  .setBackground {
    height: calc(98.1vh - var(--header-height));
    margin-top: var(--header-height);
  }
}

@media only screen and (min-width: 2300px) {
  .setBackground {
    height: calc(98.8vh - var(--header-height));
    margin-top: var(--header-height);
  }
}